[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/indentLine.vim"]
	path = .vim/bundle/indentLine.vim
	url = https://github.com/vim-scripts/indentLine.vim
    ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
    ignore = dirty
[submodule ".vim/bundle/logstash.vim"]
	path = .vim/bundle/logstash.vim
	url = https://github.com/vim-scripts/logstash.vim
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/bundle/screen"]
	path = .vim/bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
